div {
  /* width: 200px; */
  /* padding: 15px; */
  /* border: 25px solid black; */
  /* margin: 50px; */
  /* box-sizing: border-box; */

  /* outline-width: 30px; */
  /* outline-style: solid; */
  /* outline-color: blue; */

  /* outline: 30px solid blue; */

  /* outline-offset: 20px; */
}

div {
  width: 220px;
  padding: 15px;
  background-color: red;
  border: 20px solid green;
  margin: 30px;
  outline: 10px solid blue;
  outline-offset: 10px;
}

input:focus-visible {
  outline: 1px auto red;
}