div {
  background-color: yellow;
  /* font-size: 32px; */
}

/* .div1 {
  min-width: 330px;
}

.div2 {
  max-width: 700px;
}

.div3 {
  min-width: 200px;
  max-width: 900px;
} */

.div2 {
  /* min-height: 54px; */
  /* max-height: 144px; */
  /* overflow: auto; */
}